<div class="fix-left-table" [scrollTop]="myTable.scrollTop" [ngStyle]="myTable.style.leftTable"
  (keydown)="myTable.onKeyDown($event)" (keyup)="myTable.onKeyUp($event)">

  <table *ngIf="myTable && myTable.$rowNumber[0] && myTable.$colNumber[0]" class="my-table left-table">
    <thead>
      <!-- TopIndexThead -->
      <tr *ngIf="myTable.isShowColIndex">
        <!-- IndexTopLeft  -->
        <th class="rowNumber" tabindex="1"
          [ngStyle]="{padding:(myTable.$rowNumber[0]||myTable.$colNumber[0]||{}).style.padding,background:(myTable.$rowNumber[0]||myTable.$colNumber[0]||{}).style.background}">
          <div
            [ngStyle]="{width:myTable.$rowNumber[0].style.width,height:myTable.$colNumber[0].style.height,lineHeight:myTable.$colNumber[0].style.height}">
            {{myTable.isTopLeftShow? myTable.topLeftValue:''}}
          </div>
        </th>
        <th *ngFor="let th of myTable.theadLeftEntity.leafIndexList2; let i = index" class="colNumber"
          [ngStyle]="myTable.$colNumber[i].style">
          <div [ngStyle]="myTable.$colNumber[i].cell.style">
            {{myTable.$colNumber[i].cell.content}}
          </div>
        </th>
      </tr>

      <!-- 第二行开始 -->
      <tr *ngFor="let th of myTable.$rowNumber; let i = index">
        <!-- rowIndexThead -->
        <th *ngIf="myTable.isShowRowIndex" class="rowNumber" tabindex="1">
          <drag-th [th]="th"> </drag-th>
        </th>
        <!-- 内部TopLeft 判断-->
        <th *ngIf="i===0 && myTable.$tableHeadLeft[0]&&myTable.$tableHeadTop[0]" class="colNumber" tabindex="1"
          (click)="myTable.onClick($event)" [attr.colspan]="myTable.theadLeftEntity.side2"
          [attr.rowspan]="myTable.$tableHeadTop.length" [ngStyle]="myTable.tableHeadTopLeft.style">
          <div [ngStyle]="myTable.tableHeadTopLeft.cell.style">
          </div>
        </th>

        <!-- 主表里左侧表头 -->
        <th tabindex="1" *ngFor="let th of myTable.$tableHeadLeft[i - myTable.theadTopEntity.side2]; let j = index"
          [attr.colspan]="th.span2" [attr.rowspan]="th.span1">
          <drag-th [th]="th"> </drag-th>
        </th>
      </tr>
    </thead>
  </table>
  <app-select-box [myTable]="myTable" positionType="left" *ngIf="myTable"></app-select-box>
</div>