<div class="fix-top-left-table">
  <table *ngIf="myTable && myTable.$rowNumber[0] && myTable.$colNumber[0]" class="my-table left-top-table"
    cellspacing="0" cellpadding="0" border="0">
    <thead>
      <!-- TopIndexThead -->
      <tr *ngIf="myTable.isShowColIndex && myTable.isShowRowIndex">
        <th tabindex="1" class="rowNumber table-top-left"
          [ngStyle]="{padding:myTable.$rowNumber[0].style.padding,background:myTable.$rowNumber[0].style.background}">
          <div
            [ngStyle]="{width:myTable.$rowNumber[0].style.width, height:myTable.$colNumber[0].style.height,lineHeight:myTable.$colNumber[0].style.height}">
            {{myTable.isTopLeftShow? myTable.topLeftValue:''}}
          </div>
        </th>
        <th *ngFor="let th of myTable.theadLeftEntity.$leafIndexList2; let i = index" tabindex="1" class="colNumber">
          <!-- <div [ngStyle]="myTable.$colNumber[i].cell.style">
            {{myTable.$colNumber[i].cell.content}}
          </div> -->
          <drag-th [th]="myTable.$colNumber[i]"> </drag-th>
        </th>

      </tr>

      <!-- 第二行开始 -->
      <ng-container *ngFor="let tr of myTable.$tableHeadTop; let i = index">
        <tr *ngIf="myTable.isShowRowIndex">
          <!-- rowIndexTh -->
          <th class="rowNumber" tabindex="1">
            <!-- <div [attr.title]="myTable.$rowNumber[i].cell.content" [ngStyle]="myTable.$rowNumber[i].cell.style">
              {{myTable.$rowNumber[i].cell.content}}
            </div> -->
            <drag-th [th]="myTable.$rowNumber[i]"> </drag-th>
          </th>

          <th class="colNumber" tabindex="1" *ngIf="i === 0 && myTable.$tableHeadLeft[0] && myTable.$tableHeadTop[0]"
            [attr.colspan]="myTable.theadLeftEntity.side2" [attr.rowspan]="myTable.$tableHeadTop.length"
            [ngStyle]="myTable.tableHeadTopLeft.style" style="border-width: 1px;">
            <div class="thead-top-left" [ngStyle]="myTable.tableHeadTopLeft.cell.style">
            </div>
            <!-- <drag-th [th]="myTable.tableHeadTopLeft"> </drag-th> -->
          </th>
        </tr>
      </ng-container>
    </thead>
  </table>
  <app-select-box [myTable]="myTable" positionType="top-left" *ngIf="myTable"></app-select-box>
</div>